<% if current_user.events.any? %>
    <ul class="collection with-header">
      <li class="collection-header center"><h5>Past events</h5></li>
      <% current_user.events.upcoming_events.each do |invite| %>
        <li class="collection-item"><%= link_to "#{invite.name}", event_path(invite) %></li>
      <% end %>
    </ul>
    <ul class="collection with-header">
      <li class="collection-header center"><h5>Past events</h5></li>
      <% current_user.events.past_events.each do |invite| %>
        <li class="collection-item"><%= link_to "#{invite.name}", event_path(invite) %></li>
      <% end %>
    </ul>
<% end %>