<% if current_user.events.any? %>
  <h3>Upcoming events</h3>
    <ul>
      <% current_user.events.upcoming_events.each do |invite| %>
        <li>
          <%= link_to "#{invite.name}", event_path(invite) %>
        </li>
      <% end %>
    </ul>
  <h3>Past events</h3>
    <ul>
      <% current_user.events.past_events.each do |invite| %>
        <li>
          <%= link_to "#{invite.name}", event_path(invite) %>
        </li>
      <% end %>
    </ul>
<% end %>