<% @upcoming_events.each do |upcoming_event| %>
  <li class="collection-item">
    <div><h5><%= upcoming_event.name %><%= link_to content_tag(:i, "visibility", class: 'material-icons'), event_path(upcoming_event), class: 'secondary-content' %></h5></div>
  </li>
<% end %>