<% provide(:title, 'Edit Event') %>
<%= provide(:button, 'Update Event') %>

<h1>Edit Event</h1>
<%= link_to "Delete Event", event_path, method: "delete", date: { confirm: "Are you sure?"} %>
<div> 
  <%= render 'event_form' %>
</div>