<% provide(:title, "Events") %>

<h1>All the Events</h1>

<ul class="collection with-header">
  <li class="collection-header center"><h4>Upcoming Events</h4></li>
  <% if @upcoming_events.any? %>
    <% @upcoming_events.each do |upcoming_event| %>
  <li class="collection-item">
    <div><h6><%= upcoming_event.name %></h6><%= link_to content_tag(:i, "visibility", class: 'material-icons'), event_path(upcoming_event), class: 'secondary-content' %></div>
  </li>
    <% end %>
  <% else %>
  <li class="collection-item">No Upcoming events found</li>
  <% end %>
</ul>

<ul class="collection with-header">
  <li class="collection-header center"><h4>Past Events</h4></li>
  <% if @past_events.any? %>
    <% @past_events.each do |past_event| %>
  <li class="collection-item">
    <div><h5><%= past_event.name %><%= link_to content_tag(:i, "visibility", class: 'material-icons'), event_path(past_event), class: 'secondary-content' %></h5></div>
  </li>
    <% end %>
  <% else %>
  <li class="collection-item">No Past events found</li>
    
  <% end %>
</ul>

