<% provide(:title, "Events") %>

<h1 class="center">All the Events</h1>

<ul class="collection with-header">
  <li class="collection-header center"><h4>Upcoming Events</h4></li>
  <% if @upcoming_events.any? %>
    <%= render 'upcoming_events' %>
  <% else %>
  <li class="collection-item">No Upcoming events found</li>
  <% end %>
</ul>

<ul class="collection with-header">
  <li class="collection-header center"><h4>Past Events</h4></li>
  <% if @past_events.any? %>
    <%= render 'past_events' %>
  <% else %>
  <li class="collection-item">No Past events found</li>
    
  <% end %>
</ul>

